@charset "utf-8";
@import "~bulma/bulma";

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";

html {
  font-family: laca, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $background;
  scroll-behavior: smooth;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
  height: 100vh;
}

.box {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.boom {
  padding: 31rem;
}

.box {
  width: 100vw;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.field {
  margin: 5px;

  .input {
    width: 50rem;
  }
}

.content {
  margin-top: 20px;
}

a i {
  margin-right: 0.3em;

}
.box {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  }
